<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whats App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form method="GET" action="/chats/new">
        <button>Add new chat</button>
    </form>
    <h1>All Chats</h1>
   <% for(chat of chats){ %>
        <div class="chat">
            <h2>From :<%=chat.from%></h2>
            <div class="msg">
                <h3><%= chat.msg%></h3>
                <div class="control">
                    <form method="GET" action="/chats/<%=chat._id%>/edit">
                        <button>Edit</button>
                    </form>
                    <form method="POST" action="/chats/<%=chat._id%>?_method=DELETE">
                        <button>Delete</button>
                    </form>
                </div>

            </div>
            <h3>Received by :<%=chat.to%></h3>
            <hr>
            <p><%= chat.created_at.toString().split(" ")[4] %></p>
            <p><%= chat.created_at.toString().split(" ").slice(0,4).join(" ")%></p>
        </div>
        <br><br>
        <% } %>
    
</body>
</html>

