<%layout("layouts/boilerplate") %>
<body>
    <h1>All places we provide</h1>
    <br><br>
    <!-- <form method="GET" action="/listings/new">
        <button>Add listing</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">
        <%for(listing of allListings){ %>
            <a href="/listings/<%=listing._id%>" class="listing-link">
            <div class="card col listing-card">
                <img src="<%=listing.image%>" class="card-img-top" alt="Listing image" style="height:20rem">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                  <p class="card-text">
                   <b><%=listing.title%></b> <br>₹<%=listing.price.toLocaleString("en-IN")%>/night
                </p>
                </div>
              </div> 
            </a>
              <%}%>
        
    </div>
    
    <!-- <ul><%for(listing of allListings){ %><li> <a href="listings/<%=listing._id%>"> <%= listing.title%></a></li><%}%></ul> -->


</body>

