<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table,th,tr,td{
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>UserName</th>
            <th>Email</th>
            <th>Edit Username</th>
            <th>Del Username</th>

        </tr>
        <% for(user of users){ %>
            <tr>
                <td><%=user.ID%></td>
                <td><%=user.USERNAME %></td>
                <td><%=user.EMAIL %></td>
                <td>
                    <form method="GET" action="/user/<%=user.ID%>/edit" >
                        <button>Edit</button>
                    </form>
                </td>
                <td>
                    <form method="GET" action="/user/<%=user.ID%>/delete" >
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
        <% } %>
    </table>
    
</body>
</html>
